# Dart & Flutter
.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/

# .envファイル
.env

# IDE settings
.idea/
.vscode/
*.iml

# Android specific
android/.gradle/
android/captures/

# iOS specific
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Xcode specific
*.xcodeproj/*
*.xcworkspace/*
DerivedData/

# macOS
.DS_Store

# Log files
*.log
