name: phonedine
description: "A new Flutter project."

publish_to: 'none'
version: 1.0.0+1
environment:
  sdk: ^3.7.2
dependencies:
  flutter:
    sdk: flutter
  url_launcher: ^6.3.1
  flutter_dotenv: ^5.0.2
  cupertino_icons: ^1.0.8
  google_maps_flutter: ^2.12.1
  google_place: ^0.4.7
  geolocator: ^13.0.4
  http: ^0.13.6
  contacts_service: ^0.6.3
  permission_handler: ^12.0.0+1
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0
flutter:
  uses-material-design: true
  assets:
    - .env

